body{margin:0;padding:0;background: url('../../_images/juba/background.jpg') no-repeat;background-position: top center;}

/* AUXILIARES */
.clear{clear:both;}
.position-relative{position:relative;}
.content{width: 1230px;height: auto;display: block;margin:0 auto;}

/* COMPLEMENTARES */
.header_top{width: 100%;height: 43px;background:url('../../_images/juba/bg_header_cima_fino.jpg') repeat-x;}
.logo_net_emp{width: 155px;height: 22px;display:block;float:left;margin:12px 0 0 0;}
.btn_enter{width: 150px;height: 29px;display:block;float:left;margin:7px 0 0 50px;background: url('../../_images/juba/acess_now_cnt.jpg') no-repeat;cursor: pointer;}
.btn_enter:hover{background: url('../../_images/juba/acess_now_cnt-hover.jpg');}
.hot_to_use_header{width: 74px;height: 24px;display:block;float:left;margin:12px 0 0 5px;cursor:pointer;}
.now_time{padding:5px 50px;float:right;display:block;border:1px solid #DBDBDB;border-top:0;border-bottom:0;margin:11px 5px 0 0;font-family: Arial;font-size: 12px;color:#666;}
.acess_outher{width: 219px;height: 27px;float:right;display:block;margin:8px 3px 0 5px;}

.header_center{width: 100%;height: auto;display:block;}
.cima_center{width: 100%;height: auto;display:block;float:left;}
.logo_emp_big{width: 219px;height: 52px;display:block;float:left;margin:25px 0 0 15px;cursor:pointer;}
.cima_menu_net_emp{width: 695px;height: 52px;display:block;float:right;margin:25px 0px 0 0;cursor:pointer;}
.baixo_center{width: 100%;height: 38px;display:block;float:left;margin:20px 0 0 0;}
.local_center{width: 30px;height: 38px;display:block;float:left;}
.busca_center{width: 190px;height: 38px;display:block;float: right;}

.content_geral{width: 100%;height: auto;display:block;}
.border-content-one{border:1px solid #ccc;border-bottom:0;height: 800px!important;background-color:#fff;}
.border-content-two{border:1px solid #ccc;border-top:0;background-color:#fff;z-index:99999;position: relative;border-radius: 0 0 10px 10px;}
.slider{width: 1230px;height: 500px;display:block;position: absolute;top:0;left:0;}
.slider ul{margin:0;padding:0;list-style: none;}
.menu_left{width:212px;height: 701px;display:block;position: absolute;top:60px;left:25px;z-index:9999;border-bottom: 1px solid #e1e1e1;border-radius: 0 0 5px 5px;}
.outher_box{width: 998px;height: 321px;display:block;position: absolute;bottom:0;right:0;}

.logo_jogos{width: 185px;height: 130px;display:block;float:left;margin:25px 0 10px 40px;}
.pos_right{width: 998px;height: auto;display:block;float:right;margin:20px 0 0 0;}
.cima_pos_right{width: 998px;height: 198px;display:block;}
.baixo_pos_right{width: 998px;height: 168px;display:block;margin-bottom:10px;}

.footer{width: 100%;height: auto;display:block;position:relative;top:-8px;left:0;z-index:99;margin-bottom: 15px;}
.footer_one{width: 1228px;height: 63px;margin:0;padding:0;display:block;border:1px solid #ccc;border-top:0;border-bottom:0;}
.footer_two{width: 1228px;height: 161px;margin:0;padding:0;display:block;border:1px solid #ccc;border-top:0;border-bottom:0;}
.footer_three{width: 1228px;height: 86px;margin:0;padding:0;display:block;border:1px solid #ccc;border-top:0;border-bottom:0;}
