/* font-family: 'Droid Sans', sans-serif; */

/* BOOT RESET */
*{outline: none;box-sizing:border-box;}
input{font-family: 'Droid Sans', sans-serif;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{width: 100%;display: block;float: left;}
.clear{clear: both;}

/* LOGIN */
.person_index{background-color: #3a3a3a;}

.box_login{width: 400px;display: block;margin:150px auto 0 auto;background-color: #282828;padding:40px;border-radius: 5px;box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0px 0px 1px rgba(255,255,255,0.6);}
.block_logo{display: block;}
.block_logo i{display: block;margin:0 auto 15px auto;font-size: 4.5em;text-align: center;color: #09f;}
.block_logo h1{color: #09f;text-shadow:1px 1px 1px rgba(0,0,0,0.8);font-weight: 700;font-size: 1.5em;text-align: center;}
.block_panel{display: block;margin:-45px 0 0 0;}
.block_panel label{display: block;margin:0 0 55px 0;}
.block_panel span{display: block;float: left;width: 40px;height: 40px;line-height: 40px;text-align: center;background-color: #09f;color: #282828;}
.block_panel span i{color: #fff;}
.block_panel .start_input{width: 280px;height: 40px;display: block;float: left;border:1px solid #09f;padding:0 10px;background-color: #3a3a3a;color: #fff;font-weight: 700;font-size: .9em;}
.block_panel .start_btn{width: 320px;height: 40px;display: block;border:none;color: #3a3a3a;background-color: #09f;font-size: 1.2em;text-transform: uppercase;font-weight: 700;color: #fff;cursor: pointer;}
.block_panel .last_pass{display: block;text-align: center;color: #09f;margin:15px 0 0 0;font-size: .7em;}
.copy{display: block;text-align: center;color: #999;margin:10px 0 0 0;}

.block_error{display: block;background-color: #ec5657;color: #333;border-radius: 3px;padding:10px;text-align: center;margin:5px 0 0 0;border:1px solid #900;color: #fff;text-shadow:1px 1px 1px rgba(0,0,0,.8);}

/* ACESSO */
.block_menu{background-color: #3a3a3a;border-bottom:5px solid #09f;width: 100%;padding:15px 40px;}
.block_menu li{display: block;float:left;}
.block_menu a{display: block;padding: 10px 15px;background-color: #09f;color: #fff;margin:0 10px 0 0;border-radius: 3px;text-decoration: none;font-weight: 400;height: 30px;line-height: 10px;font-size: 0.8em;}
.block_menu a:hover{background-color: #282828;color: #fff;box-shadow: -1px 1px 1px rgba(255, 255,255,0.1), inset 1px 1px 3px rgba(0,0,0,0.8);}
.block_menu a i{display: block;float:left;margin:0 10px 0 0;line-height: 10px;}

.block_content{display:block;margin:20 auto;width: 98%;margin:20px auto;}
.active_link{background-color: #ec5657!important;color: #fff!important;box-shadow: -1px 1px 1px rgba(255, 255,255,0.1), inset 1px 1px 3px rgba(0,0,0,0.8)!important;}

.block_content h1{display: block;font-size: 1.5em;color: #fff;margin-bottom: 35px;border-bottom: 1px solid #09f;padding-bottom: 35px;}

/*LISTA CLIENTES */
.table_lista_clientes thead{background-color: #fff;color: #333;}
.table_lista_clientes thead tr td{border-right: 1px solid #ccc;padding:5px 0;text-align: center;text-transform: uppercase;font-weight: bold;}
.table_lista_clientes tbody{color: #fff;width: 100%;}
.table_lista_clientes tbody tr td{border-right: 1px solid #ccc;padding:5px 0;text-align: center;border-bottom: 1px solid #ccc;font-size: 0.8em;}
.table_lista_clientes tbody tr td:first-child{border-left: 1px solid #ccc;}
.manage_user_link{color: #ec5657;font-size: 1.2em;}

/* GERENCIAMENTO */
.gerenciamento{width: 100%;height: 100%;display: block;position: fixed;background-color: rgba(255,255,255,.6);}
.block_commands{width: 600px;display: block;margin:150px auto 0 auto;background-color: #333;padding:20px;color: #fff;}
.block_erros_commands a{display: block;float: left;margin:0 10px 10px 0;width: 180px;background-color: #f1f1f1;padding:10px 0;text-align: center;text-decoration: none;color: #ff0000;font-weight: bold;}
.block_erros_commands .last{margin-right: 0!important;}

.block_get_commands a{display: block;float: left;margin:10px 10px 10px 0;width: 180px;background-color: #09f;padding:10px 0;text-align: center;text-decoration: none;color: #fff;font-weight: bold;}
.block_get_commands .last{margin-right: 0!important;}
.finaliza_user{background-color: green!important;color: #fff!important;}
.anotacao_user{background-color: yellow!important;color: #333!important;}

.block_aditions{display: block;border-top: 1px solid #ccc;padding:10px 0;}
.block_aditions .star_span{display: block;float: left;width: 40px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px 0 0 5px;background-color: #fff;color: #333;}
.block_aditions .final_span{display: block;float: left;width: 50px;height: 40px;line-height: 40px;text-align: center;border-radius: 0 5px 5px 0;background-color: #d20023;color: #fff;cursor: pointer;}
.block_aditions .normal_input{display: block;float:left;width: calc(100% - 90px);height: 40px;border:none;border-left: 1px solid #ccc;padding:0 10px;font-weight: 700;}

.block_information{display: block;margin-top:10px;padding:10px 0;border-top: 1px solid #ccc;}
.block_information span{display: inline-block;padding:6px 10px;background-color: #069777;color: #fff;min-width: 49%;margin:0 1% 5px 0;}
.block_information span b{font-weight: bolder;color:#000;}
.block_information .last{margin-right: 0!important;}

.btn_close_now{display: block;background-color: #ff0000;color: #fff;width: 300px;height: 40px;margin:0 auto;line-height: 42px;text-align: center;text-decoration: none;font-weight: bold;}

/* LISTA INFOS */
.block_show_infos{display: block;width: 50%;float: left;}
.block_show_infos span{display: block;margin:0 0 3px 0;font-size: 0.9em;background-color: #000;margin-left: 5px;padding:5px 10px;color: #ff0000;}
.block_show_infos span b{color: #fff!important;}

/* PERSONALIZAR TABELA SHOW */
.input_tabelaone{width: 40px;margin:0 5px 5px 5px;text-align: center;}
.input_referencia{width: 120px;margin:0 5px 0 5px;text-align: center;}

.block_buttons_atrib{width: 100%;display: block;float: left;margin:5px 0 0px 10px;}
.show_buttons_atrib{display: block;margin:0 5px 0 0;border-radius: 5px 5px 0 0;float: left;background-color: #069;color: #fff;padding:10px 20px 5px 20px;font-weight: bolder;text-decoration: none;min-width: 150px;
text-align: center;}
.show_buttons_atrib:hover{background-color: #069777;color: #fff;transition: .6s all;}

#tabela_one{background-color: #069777;margin:0 0 0 10px;padding:30px 5px 10px 5px;display: block;float:left;width: 485px;border-radius: 0 8px 8px 8px;}
#show_img_comp{width: 100%;height: 445px;background-color: #069777;float:left;margin:0 0 0 10px;padding:30px 5px 10px 5px;}
#show_img_comp img{width: auto;height: 100%;}
#cc_one{background-color: #069777;margin:0 0 0 10px;padding:30px 5px 10px 5px;display: none;float: left;width: 485px;border-radius: 0 8px 8px 8px;}
#cc_one span{background-color: transparent;color: #fff;}
#cc_one span y{width:160px;display: block;float:left;color:#3a3a3a;}
#cc_one span b{font-weight: bolder;color: #fff!important;}


.pass_form{background-color: #09f;width: 600px;padding:10px;border-radius: 5px;}
.pass_form label{display: block;margin:0 0 15px 0;height: 40px;}
.pass_form span{display: block;width: 160px;line-height: 40px;text-align: right;margin:0 10px 0 0;color: #fff;float: left;}
.pass_form .pass_input{display: block;float: left;height: 40px;width: 300px;border:none;border-radius: 3px;padding:0 10px;}
.pass_form .btn{background-color: #333;border-radius: 3px;border-bottom: 2px solid #000;color: #fff;font-weight: bold;font-size: 1.1em;cursor: pointer;margin:0 0 0 170px;}
.pass_form .btn:hover{background-color: #000;border-bottom: 2px solid #333;transition: .6s all;}

.lista_usuarios{display: block;margin:30px 0 10px 0;}
.lista_usuarios h1{display: block;margin: 0 0 20px 0;padding:0 0 10px 0;}
.lista_usuarios p{display: block;background-color: #000;padding:10px;color: #999;width: 600px;margin:0 0 10px 0;}
.lista_usuarios b{font-weight: bold;color: yellow;}
.lista_usuarios a{background-color: #ff0099;font-weight: bold;padding:5px 15px;text-decoration: none;color: #000;}